.card {
  /* width: 124px; */
  width: clamp(60px, 7%, 124px);
  /* height: 176px; */
  border: 2px black solid;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}
.card-image {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
.glow {
  transition: box-shadow 0.2s ease-in-out;
}
.glow:hover {
  /* box-shadow: 0 0 20px 5px #e85151,
  0 0 30px 10px #e85151;  */
  box-shadow: 0 0 3px 2px hsl(0, 77%, 50%),
  0 0 5px 4px hsl(0, 77%, 80%); 
  cursor: pointer;
}
